/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92px 50px 96px 50px;
  width: 1100;
}

.header__menu {
  max-width: 1100px;
  justify-self: start;
  font-style: normal;
  width: 391.48px;
  height: 22px;
  top: 133px;
  left: 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 30px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  padding-left: 10px;
  padding-right: 10px;
}

.address {
  max-width: 240px;
  font-style: normal;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-align: left;
}

.header__address {
  justify-self: end;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  padding: 165px 50px 20px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  align-self: center;
}

.aligned-text_right {
  display: block;
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  color: rgb(255 255 255);
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: none;
  background: transparent;
  color: rgb(255 255 255);
  width: 256px;
  height: 51px;
  left: 794px;
  right: -50px;
  top: 656px;
  bottom: -656px;
  border: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 22px;
  font-family: Raleway;
  z-index: 2;
}

.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  top: 180px;
  background-color: rgb(255, 255, 255);
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: end;
  color: rgb(255 255 255);
  line-height: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center center;
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.card__text {
 font-weight: 400;
  font-size: 20px;
}

.about {
}

.footer {
}
